#container1 {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    height: 50px;
    background-color: #fff;
}

.container0 {
    background-color: #171b25;
    height: 100px;
    top: 10%;
    display: flex;
    align-items: center;
}

.container0 h1 {
    color: #eee;
    margin: 0 auto;
}

#container1 img {
    width: fit-content;
}

.btn.btn-outline-danger {
    background-color: #dd0031;
    font-weight: bold;
    color: #fff;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
}

.btn.btn-outline-danger:hover {
    background-color: #fff;
    color: #dd0031;
    border: 1px solid #d8d8d8;
}

#blur.active {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.etagetitle {
    text-align: center;
}

.form-select {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 10px;
}

.showcase img {
    width: 3%;
    height: 3%;
}

#form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    height: 120vh;
    width: 100vw;
}

:root {
    --primary-color: #DD0031;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 2;
}

.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
}

.input-container {
    position: relative;
    height: 7rem;
    width: 7rem;
    margin: 0.5rem;
    z-index: 2;
}

.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    right: 0%;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    z-index: 2;
}

.input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: all 300ms ease;
    z-index: 2;
}

.input-container ion-icon {
    color: var(--primary-color);
    font-size: 3rem;
    z-index: 2;
}

.input-container label {
    color: var(--primary-color);
    font-size: 0.80rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;
}

input:checked+.radio-tile {
    background-color: var(--primary-color);
    box-shadow: 0 0 12px var(--primary-color);
    transform: scale(1.1);
    z-index: 2;
}

input:hover+.radio-tile {
    box-shadow: 0 0 12px var(--primary-color);
    z-index: 2;
}

input:checked+.radio-tile ion-icon,
input:checked+.radio-tile label {
    color: #FFFAFA;
    z-index: 2;
}

.occupied {
    background-color: #ff0000;
}

body.darkmode {
    background-color: #121212;
}

#container1.darkmode {
    background-color: #121212;
}

#container0.darkmode {
    background-color: #3f3f3f;
}

#etagetitle.darkmode {
    color: antiquewhite;
}

#darkmodebtn.darkmode {
    background-color: antiquewhite;
    color: #121212;
}

#darkmodebtn.lightmode {
    background-color: #121212;
    color: antiquewhite;
}

:root.darkmode {
    --primary-color: #CBC3E3;
}


.button-36 {
    background: rgb(116, 4, 4);
    background: linear-gradient(90deg, rgba(116, 4, 4, 1) 0%, rgba(170, 0, 0, 1) 31%, rgba(199, 0, 0, 1) 48%, rgba(213, 0, 0, 1) 63%, rgba(235, 0, 0, 1) 82%, rgba(249, 0, 0, 1) 92%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-36:hover {
    box-shadow: rgba(21, 21, 21, 0.8) 0 1px 30px;
    transition-duration: .1s;
}



.button-36.darkmode:hover {
    box-shadow: rgba(234, 216, 225, 0.92) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
    }
}


.button-36.darkmode {
    background: rgb(147, 147, 147);
    background: linear-gradient(90deg, rgba(147, 147, 147, 1) 11%, rgba(182, 182, 182, 1) 25%, rgba(195, 195, 195, 1) 46%, rgba(223, 223, 223, 1) 69%, rgba(232, 232, 232, 1) 79%, rgba(233, 233, 233, 1) 90%);
    color: #121212;
}


.tr{
    display: flex !important;
    flex-wrap: wrap !important;
}

.seatmap{
    display:flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    #etagetitle {
        font-size: 90%;
    }

    .input-container {
        width: 1.5em;
        height: 1.5em;
    }
}

@media only screen and (max-width: 1200px) {
    .input-container {
        width: 3em;
        height: 3em;
    }
}


@media only screen and (max-width: 500px) {
    .input-container {
        width: 1.5em;
        height: 1.5em;
    }
}


@media only screen and (max-width: 350px) {
    .input-container {
        width: 1.3em; 
        height: 1.3em; 
    }
}




  .loader_bg{
    position: fixed;
    z-index: 10;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    z-index: 10;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    z-index: 10;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}



/* Add the following styles to your existing CSS or customize as needed */

.language-grid {
    display: flex;
}

.language-square {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.language-square.darkmode{
    color: white;    
}


.language-square.lightmode{
    color: black;    
}


#nav{
    display: flex;
    color: #FAEBD7;
    flex-direction: column;
    background-color: #171B25;
    justify-content: center;
    width: 60vw;
    height: 120vh;
    max-width: 350px;
    align-items: center;
}


#nav.darkmode{
    color: antiquewhite;
    background-color: #3f3f3f;
}

#time{
    width: 10vw;
}

#duration{
    width: 10vw;
}